In [1]:
# install libraries 
%conda install pandas numpy matplotlib seaborn

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [2]:
# import necessary libraries 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Load the csv data into a dataFrame 
df = pd.read_csv('./data/StockX-Data-Contest-2019-3 2.csv')

# Lets get aquanted with our data and run df.head() to see the first 5 rows of the data
df.head()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,"$1,097",$220,9/24/16,11.0,California
1,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,$685,$220,11/23/16,11.0,California
2,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,$690,$220,11/23/16,11.0,California
3,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,"$1,075",$220,11/23/16,11.5,Kentucky
4,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,$828,$220,2/11/17,11.0,Rhode Island

In [4]:
'''
DESCRIPTIVE STATISTICS: 

Let's see the summary statistics of the dataframe by using df.describe(). This method 
summarizes the central tendency, dispersion and shape of a datasetâ€™s distribution, excluding NaN values.

'''

df.describe()

          Shoe Size
count  99956.000000
mean       9.344181
std        2.329588
min        3.500000
25%        8.000000
50%        9.500000
75%       11.000000
max       17.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99956 entries, 0 to 99955
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    99956 non-null  object
 1   Brand         99956 non-null  object
 2   Sneaker Name  99956 non-null  object
 3   Sale Price    99956 non-null  object
 4   Retail Price  99956 non-null  object
 5   Release Date  99956 non-null  object
 6   Shoe Size     99956 non-null  float64
 7   Buyer Region  99956 non-null  object
dtypes: float64(1), object(7)
memory usage: 6.1+ MB

### Clean Data 
- As you can see from the output above, we need to clean this data. Most of the values are of type 'object' 
- columns like "Order Date," "Sale Price," "Release Date," and "Shoe Size" appear to be numerical or date types, but they are currently stored as objects.